.ballot {
  background-color: white;
  color: black;
}

.ballot .candidate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 15px 0;
  padding: 0 10px;
}

.ballot .candidate button:first-child {
  background-color: #4e4;
}
.ballot .candidate button:last-child {
  background-color: #e44;
}
